@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1D1919;
    height: 100%;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease-in-out;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #3f3f3f46;
}


body::-webkit-scrollbar-thumb{
    width: 3px;
    border-radius: 50px;
    background-color: #E9B952;
}


.nav{
    z-index: 100;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}

.logo{
    margin-left: 75px;
    font-family: "Genos", serif;
    font-size: 80px;
    font-weight:bolder;
    letter-spacing: -8px;
    color: #E9B952;
}

.sidemenu button{
    position:absolute;
    z-index: 0;
    top: 10%;
    left: -30px;
    font-size: 30px;
    color: #1D1919;
    padding: 40px 8px 0 8px;
    background-color: #e9b95277;
    border: none;
    transition: .3s ease;
    transform: rotate(90deg);
    border-radius: 0 0 40px 40px;
}

.sidemenu button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.sidemenu {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column; /* Stack links vertically */
    justify-content: left;
    align-items: center;
    background-color: #e9b952ea;
    z-index: 60;
    height: 100%;
    padding: clamp(2rem,10vw,20rem); /* Add some padding around content */
    opacity: 0;
    transform: translate(100%);
    transition: .3s ease-in-out;
}

.sidemenu.active{
    transform: translate(0%);
    transition: transform 0.5s ease-in-out;
}

.sidemenu:hover{
    cursor: pointer;
}

.sidemenu-container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 2px 0 2px 0;
    top: 11.5%;
}

.sidemenu a{
    color:  #1D1919;
    text-decoration: none;
    font-size: clamp(20px ,3vw, 40px);
    font-family: "Poppins",serif;
}

.sidemenu #light, .sidemenu #dark{
    position: absolute;
    top: 36%;
    right: 32%;
    z-index: 100;
    font-size: 22px;
    border-radius: 50%;
    border: 0;
}

.sidemenu #light{
    color: #E9B952;
    background-color: #2a2525;
    transition: box-shadow 0.3s ease, 0.2s ease;
}

.sidemenu #light:hover{
    box-shadow: 0 0 20px 0px #E9B952;
    cursor: pointer;
    transform: scale(1.1);
}

.sidemenu #dark{
    color: #3a3a399d;
    background-color: #ece8e8;
    transition: box-shadow 0.3s ease,0.2s ease;
}

.sidemenu #dark:hover{
    box-shadow: inset 4px 3px 15px 0px #2727269d;
    cursor: pointer;
    transform: scale(1.1);
}

.link-container{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content:space-evenly;
    right: -25px;
    background-color: #e9b952;
    width: 605px;
    height: 58px;
    border-radius: 30px;
    transition: .45s ease-in-out
}

.link-container .menu{
    position: relative;
    left: 0px;
    width: 20px;
    padding: 19px;
    border-radius: 0 0 30px 30px;
    margin-right: 0px;
    transform: rotate(90deg);
    transition: .2s ease-in;
    z-index: 1;
}
#link-container.active {
    transform: translate(88%);
    transition: transform 0.5s ease-in-out;
}


.link-container .menu:hover{
    cursor: pointer;
    transform: rotate(180deg);
}


.link-container-container{
    position: relative;
    right: 75px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.link-container-container a{
    position: relative;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 20px;
    text-decoration: none;
    color: #1D1919;
}


.link-container a::before {
    content: ""; /* Required */
    width: 0px;
    height: 2px;
    position: absolute; /* Position relative to the parent */
    top: 25px;
    left: 0;
    background-color: #2b2929;
    transition: .3s ease-out;
}

.link-container a:hover::before{
    width: 100%;
}

/* Animation for bounce effect */
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3); /* Scale up */
    }
    70% {
        transform: scale(1.2); /* Shrink a little */
    }
    100% {
        transform: scale(1.1); /* End with a smaller scale */
    }
}

@media (max-width: 800px){
    .link-container{
        transform: translate(103%);
    }

    .sidemenu{
        width:18px;
        animation: bounce 0.6s ease;
        opacity: 1;
    }

}


@media (max-width: 650px){
    .link-container{
        display: none;
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-left: 0;
    }
}

#light, #dark{
    position: absolute;
    z-index: 100;
    right: 65px;
    padding: 8px;
    font-size: 22px;
    border-radius: 50%;
    border: 0;
}

#light{
    color: #E9B952;
    background-color: #2a2525;
    transition: box-shadow 0.3s ease, 0.2s ease;
}

#light:hover{
    box-shadow: 0 0 20px 0px #E9B952;
    cursor: pointer;
    transform: scale(1.1);
}

#dark{
    color: #3a3a399d;
    background-color: #ece8e8;
    transition: box-shadow 0.3s ease,0.2s ease;
}

#dark:hover{
    box-shadow: inset 4px 3px 15px 0px #2727269d;
    cursor: pointer;
    transform: scale(1.1);
}
